# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a data set which contains information World cup matches. Let's use the pandas commands learned in the previous lecture to learn more about our data!

## Objectives
You will be able to:
* Understand and explain some key Pandas methods
* Access DataFrame data by using the label
* Perform boolean indexing on both Series and DataFrames
* Use simple selectors for series
* Set new Series and DataFrame inputs

## Load the data

Load the file `WorldCupMatches.csv` as a dataframe in Pandas

In [1]:
import pandas as pd

df = pd.read_csv("WorldCupMatches.csv")

## Common methods and attributes

Use the correct method to look at the first 7 rows of the data set.

In [8]:
df.head(7)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX
6,1930,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4,0,Bolivia,,18306.0,0,0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201,1092,YUG,BOL

Look at the last 3 rows of the data set.

In [9]:
df.tail(3)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
849,2014,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0,0,Argentina,Argentina win on penalties (2 - 4),63267.0,0,0,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955,300186490,NED,ARG
850,2014,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0,3,Netherlands,,68034.0,0,2,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957,300186502,BRA,NED
851,2014,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1,0,Argentina,Germany win after extra time,74738.0,0,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959,300186501,GER,ARG

Get a concise summary of your data using `.info()`

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
Year                    852 non-null int64
Datetime                852 non-null object
Stage                   852 non-null object
Stadium                 852 non-null object
City                    852 non-null object
Home Team Name          852 non-null object
Home Team Goals         852 non-null int64
Away Team Goals         852 non-null int64
Away Team Name          852 non-null object
Win conditions          852 non-null object
Attendance              850 non-null float64
Half-time Home Goals    852 non-null int64
Half-time Away Goals    852 non-null int64
Referee                 852 non-null object
Assistant 1             852 non-null object
Assistant 2             852 non-null object
RoundID                 852 non-null int64
MatchID                 852 non-null int64
Home Team Initials      852 non-null object
Away Team Initials      852 non-null object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB

Obtain a tuple representing the number of rows and number of columns

In [12]:
df.shape

(852, 20)

Use the appropriate attribute to get the column names

In [13]:
df.

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting dataframe information

When looking at the dataframe's `.head()`, you might have noticed that the games are structured chronologically in the dataframe.

Use the right selection method to print all the information from the 3rd to the 5th game.

In [14]:
df[2:5]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

Now, print all the info from game 5-9, but we're only interested to print out the "Home Team Name" and the "Away Team Name",

In [19]:
df.loc[5:10,["Home Team Name","Away Team Name"]]

   Home Team Name Away Team Name
5           Chile         Mexico
6      Yugoslavia        Bolivia
7             USA       Paraguay
8         Uruguay           Peru
9           Chile         France
10      Argentina         Mexico

Next, we'd like the information on all the games played in Group 3 for the 1950 World Cup.

In [24]:
df.loc[(df.Year == 1950) & (df.Stage == "Group 3"), "Attendance"]

56    36502.0
61     7903.0
65    25811.0
Name: Attendance, dtype: float64

Let's repeat the command above, but now we only want to print out the attendance column for the Group 3 games

You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [26]:
df.head(1)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX

Throughout the entire history of the world cup, How many Home games were played by the Netherlands?

In [76]:
df[df["Home Team Name"] == "Netherlands"]["Home Team Name"]

244    Netherlands
258    Netherlands
265    Netherlands
269    Netherlands
277    Netherlands
285    Netherlands
295    Netherlands
302    Netherlands
422    Netherlands
472    Netherlands
504    Netherlands
509    Netherlands
525    Netherlands
542    Netherlands
557    Netherlands
569    Netherlands
574    Netherlands
578    Netherlands
665    Netherlands
682    Netherlands
716    Netherlands
731    Netherlands
760    Netherlands
764    Netherlands
771    Netherlands
805    Netherlands
829    Netherlands
830    Netherlands
832    Netherlands
838    Netherlands
847    Netherlands
849    Netherlands
Name: Home Team Name, dtype: object

In [79]:
df[(df["Home Team Name"] == "Netherlands") | (df["Away Team Name"] == "Netherlands")].count()

Year                    54
Datetime                54
Stage                   54
Stadium                 54
City                    54
Home Team Name          54
Home Team Goals         54
Away Team Goals         54
Away Team Name          54
Win conditions          54
Attendance              54
Half-time Home Goals    54
Half-time Away Goals    54
Referee                 54
Assistant 1             54
Assistant 2             54
RoundID                 54
MatchID                 54
Home Team Initials      54
Away Team Initials      54
dtype: int64

How many games were played by the Netherlands in total?

In [62]:
df.Attendance

0        4444.0
1       18346.0
2       24059.0
3        2549.0
4       23409.0
5        9249.0
6       18306.0
7       18306.0
8       57735.0
9        2000.0
10      42100.0
11      25466.0
12      12000.0
13      70022.0
14      41459.0
15      72886.0
16      79867.0
17      68346.0
18      16000.0
19       9000.0
20      33000.0
21      14000.0
22       8000.0
23      21000.0
24      25000.0
25       9000.0
26      12000.0
27       3000.0
28      35000.0
29      23000.0
30      43000.0
31      35000.0
32      15000.0
33       7000.0
34      55000.0
35      27152.0
36       9000.0
37      30454.0
38       7000.0
39      19000.0
40      13452.0
41      11000.0
42       8000.0
43      20025.0
44      22021.0
45      15000.0
46       7000.0
47      58455.0
48      18141.0
49      20000.0
50      33000.0
51      12000.0
52      45000.0
53      81649.0
54      29703.0
55       9511.0
56      36502.0
57       7336.0
58      42032.0
59      11078.0
60      19790.0
61       7903.0
62      10151.0
63     142429.0
64      74462.0
65      25811.0
66       5284.0
67       3580.0
68       8501.0
69      44802.0
70     138886.0
71     152772.0
72       7987.0
73      11227.0
74     173850.0
75      20500.0
76      25000.0
77      13470.0
78      16000.0
79      28000.0
80      13000.0
81      14000.0
82      43000.0
83      34000.0
84      26000.0
85      19000.0
86      24637.0
87      56000.0
88       4000.0
89      43500.0
90      24000.0
91      17000.0
92      30000.0
93      28000.0
94      35000.0
95      17000.0
96      40000.0
97      58000.0
98      45000.0
99      32000.0
100     62500.0
101     34107.0
102     49348.0
103     31156.0
104     15343.0
105     16518.0
106      9591.0
107     17788.0
108     10647.0
109     40895.0
110     15150.0
111     11665.0
112     12217.0
113     21239.0
114     25000.0
115     14174.0
116     38850.0
117     30287.0
118     50928.0
119     21990.0
120     13300.0
121     13103.0
122     13554.0
123     15872.0
124     16418.0
125     23182.0
126      6196.0
127      2823.0
128     25923.0
129     20055.0
130     31900.0
131     11800.0
132     49471.0
133     27100.0
134     32483.0
135     49737.0
136      7908.0
137     10484.0
138      7134.0
139     65006.0
140      9622.0
141     12700.0
142      7938.0
143     65440.0
144      8829.0
145     14903.0
146      9794.0
147     66057.0
148      8040.0
149     11875.0
150      7442.0
151     64922.0
152      9973.0
153     18715.0
154      7945.0
155     67224.0
156      7167.0
157     10648.0
158      5700.0
159     59828.0
160     17268.0
161     17736.0
162     11690.0
163     63324.0
164      5890.0
165     76594.0
166     66697.0
167     68679.0
168     87148.0
169     36127.0
170     47308.0
171     23006.0
172     69237.0
173     29886.0
174     42738.0
175     27199.0
176     45662.0
177     32028.0
178     51387.0
179     13792.0
180     25438.0
181     46587.0
182     27793.0
183     92570.0
184     61112.0
185     32127.0
186     58479.0
187     17829.0
188     98270.0
189     24129.0
190     42187.0
191     16027.0
192     90584.0
193     40007.0
194     26844.0
195     40248.0
196     38273.0
197     94493.0
198     87696.0
199     96924.0
200    107160.0
201     20654.0
202     13765.0
203     50560.0
204     13433.0
205     12942.0
206     52897.0
207     92205.0
208     29968.0
209     13537.0
210     56818.0
211     95261.0
212      9624.0
213     12710.0
214     66843.0
215    103058.0
216     18163.0
217     17875.0
218     50804.0
219     89979.0
220      9890.0
221     12299.0
222     49292.0
223    108192.0
224     26851.0
225     23357.0
226     54233.0
227     26085.0
228     51261.0
229    102444.0
230    104403.0
231    107412.0
232     62000.0
233     81100.0
234     17000.0
235     27000.0
236     55100.0
237     23800.0
238     53000.0
239     32700.0
240     53300.0
241     62000.0
242     28300.0
243     31700.0
244     53700.0
245     13400.0
246     25300.0
247     70100.0
248     56000.0
249     17400.0
250     36200.0
251     60200.0
252     53300.0
253     25900.0
254     28300.0
255     70100.0
256     67385.0
257     59863.0
258     56548.0
259     44955.0
260     39400.0
261     58000.0
262     68348.0
263     67800.0
264     62000.0
265     53700.0
266     54254.0
267     41300.0
268     77100.0
269     78200.0
270     67579.0
271     42373.0
272     17396.0
273     71615.0
274     32569.0
275     40841.0
276     37927.0
277     33431.0
278     26533.0
279      9624.0
280     35258.0
281     71666.0
282     34771.0
283     41424.0
284      7938.0
285     28125.0
286     23127.0
287     22651.0
288     30667.0
289     71712.0
290     35221.0
291     42132.0
292     21262.0
293     35130.0
294     67547.0
295     25050.0
296     31278.0
297     37091.0
298     35288.0
299     66695.0
300     40750.0
301     37326.0
302     67433.0
303     38318.0
304     39586.0
305     37315.0
306     69659.0
307     71483.0
308     95000.0
309     33000.0
310     68000.0
311     11000.0
312     23000.0
313     36000.0
314     42000.0
315     44172.0
316     49562.0
317     22500.0
318     25000.0
319     25000.0
320     25000.0
321     32093.0
322     47379.0
323     19000.0
324     15000.0
325     19000.0
326     42000.0
327     41123.0
328     48000.0
329     22000.0
330     30043.0
331     15000.0
332     25000.0
333     37000.0
334     45000.0
335     20000.0
336     32500.0
337     43000.0
338     16000.0
339     28000.0
340     25000.0
341     41000.0
342     39700.0
343     49562.0
344     37000.0
345     65000.0
346     43000.0
347     75000.0
348     20000.0
349     45000.0
350     44000.0
351     90089.0
352     37000.0
353     65000.0
354     44000.0
355     75000.0
356     50000.0
357     70000.0
358     28000.0
359     90000.0
360     96000.0
361     65500.0
362     35748.0
363     16500.0
364     60000.0
365     19900.0
366     22000.0
367    110000.0
368     23000.0
369     24000.0
370     18000.0
371     30500.0
372     32000.0
373     36540.0
374     45000.0
375     13800.0
376     48000.0
377     20200.0
378     28000.0
379    114600.0
380     19915.0
381     20000.0
382     26500.0
383     30000.0
384     31420.0
385     14200.0
386     20000.0
387     65000.0
388     16000.0
389    103763.0
390     28000.0
391     22700.0
392     51000.0
393     23980.0
394     20000.0
395     36000.0
396     32277.0
397    114580.0
398     26000.0
399     45000.0
400     70000.0
401     19800.0
402     98728.0
403     38500.0
404     65000.0
405     41700.0
406     45000.0
407    114580.0
408     45000.0
409    114500.0
410     21000.0
411    114600.0
412     73780.0
413     42907.0
414     30791.0
415     73303.0
416     33266.0
417     62628.0
418     74765.0
419     30867.0
420     35238.0
421     32790.0
422     33288.0
423     35713.0
424     55759.0
425     38687.0
426     32257.0
427     73423.0
428     38962.0
429     71169.0
430     58007.0
431     31823.0
432     35267.0
433     33288.0
434     32733.0
435     33759.0
436     52733.0
437     37307.0
438     72510.0
439     27833.0
440     73303.0
441     34857.0
442     62502.0
443     30223.0
444     29039.0
445     35950.0
446     33288.0
447     34959.0
448     50026.0
449     47673.0
450     61381.0
451     74559.0
452     31818.0
453     73303.0
454     35500.0
455     34520.0
456     38971.0
457     73303.0
458     73347.0
459     55205.0
460     59978.0
461     62628.0
462     51426.0
463     73603.0
464     56247.0
465     63117.0
466     73425.0
467     75338.0
468     91856.0
469     61219.0
470     52395.0
471     93194.0
472     50535.0
473     81061.0
474     54456.0
475     44132.0
476     63113.0
477     61428.0
478     93869.0
479     74624.0
480     54453.0
481     60790.0
482     71528.0
483     83401.0
484     62387.0
485     76322.0
486     54453.0
487     63160.0
488     93869.0
489     83401.0
490     63998.0
491     63089.0
492     72404.0
493     77217.0
494     52535.0
495     74914.0
496     60578.0
497     52959.0
498     53001.0
499     63998.0
500     60246.0
501     53121.0
502     60277.0
503     90469.0
504     61355.0
505     84147.0
506     54367.0
507     71030.0
508     53400.0
509     63500.0
510     72000.0
511     83500.0
512     74110.0
513     91856.0
514     91500.0
515     94194.0
516     80000.0
517     29800.0
518     31800.0
519     33500.0
520     29800.0
521     38100.0
522     55000.0
523     35500.0
524     39100.0
525     77000.0
526     33500.0
527     30600.0
528     38100.0
529     55000.0
530     39100.0
531     45500.0
532     31800.0
533     35500.0
534     30600.0
535     29800.0
536     33500.0
537     80000.0
538     45500.0
539     30600.0
540     35500.0
541     31800.0
542     55000.0
543     38100.0
544     45500.0
545     39100.0
546     29800.0
547     33500.0
548     80000.0
549     35500.0
550     30600.0
551     55000.0
552     39100.0
553     31800.0
554     38100.0
555     33500.0
556     45500.0
557     30600.0
558     29800.0
559     35500.0
560     39100.0
561     31800.0
562     77000.0
563     38100.0
564     55000.0
565     45500.0
566     31800.0
567     77000.0
568     29800.0
569     33500.0
570     31800.0
571     30600.0
572     77000.0
573     35500.0
574     55000.0
575     39100.0
576     54000.0
577     76000.0
578     45500.0
579     80000.0
580     62561.0
581     30157.0
582     33679.0
583     32218.0
584     34050.0
585     25186.0
586     52721.0
587     28598.0
588     33842.0
589     31081.0
590     32239.0
591     27217.0
592     55256.0
593     48760.0
594     30957.0
595     37306.0
596     35854.0
597     43500.0
598     52328.0
599     38289.0
600     36194.0
601     35927.0
602     24000.0
603     47226.0
604     36750.0
605     36472.0
606     42299.0
607     66108.0
608     45610.0
609     60778.0
610     31000.0
611     39700.0
612     48100.0
613     33681.0
614     65320.0
615     47085.0
616     45777.0
617     44864.0
618     30176.0
619     31024.0
620     38524.0
621     43605.0
622     65862.0
623     39291.0
624     45213.0
625     50239.0
626     26482.0
627     46640.0
628     40582.0
629     25176.0
630     38926.0
631     39747.0
632     40440.0
633     36380.0
634     45666.0
635     38588.0
636     47436.0
637     37337.0
638     44233.0
639     42114.0
640     65256.0
641     61058.0
642     63483.0
643     69029.0
644     66000.0
645     52000.0
646     48000.0
647     62959.0
648     49480.0
649     43000.0
650     41000.0
651     45000.0
652     46000.0
653     52000.0
654     43000.0
655     48000.0
656     52000.0
657     72000.0
658     43000.0
659     66000.0
660     65000.0
661     50000.0
662     41000.0
663     72000.0
664     52000.0
665     52000.0
666     43000.0
667     48000.0
668     45000.0
669     46000.0
670     41000.0
671     66000.0
672     43000.0
673     65000.0
674     50000.0
675     52000.0
676     72000.0
677     43000.0
678     45000.0
679     46000.0
680     38000.0
681     52000.0
682     48000.0
683     66000.0
684     50000.0
685     41000.0
686     65000.0
687     52000.0
688     72000.0
689     46000.0
690     45000.0
691     43000.0
692     66000.0
693     43000.0
694     52000.0
695     41000.0
696     46000.0
697     45000.0
698     65000.0
699     43000.0
700     72000.0
701     50000.0
702     52000.0
703     48000.0
704     65000.0
705     66000.0
706     52000.0
707     69000.0
708     84490.0
709     64100.0
710     31513.0
711     55686.0
712     38646.0
713     30325.0
714     38833.0
715     62660.0
716     83465.0
717     30620.0
718     62869.0
719     23871.0
720     37034.0
721     54331.0
722     32664.0
723     62453.0
724     42658.0
725     82174.0
726     31593.0
727     35370.0
728     38294.0
729     45573.0
730     64100.0
731     62010.0
732     34812.0
733     38074.0
734     26643.0
735     38229.0
736     84455.0
737     63644.0
738     34872.0
739     54386.0
740     33425.0
741     39415.0
742     61874.0
743     38891.0
744     36893.0
745     35827.0
746     83391.0
747     37836.0
748     53412.0
749     34850.0
750     27967.0
751     63093.0
752     62712.0
753     34763.0
754     41958.0
755     28042.0
756     30597.0
757     34976.0
758     40510.0
759     84377.0
760     61962.0
761     54096.0
762     36742.0
763     62955.0
764     40186.0
765     84017.0
766     64100.0
767     55359.0
768     62479.0
769     60960.0
770     36254.0
771     84490.0
772     62103.0
773     39216.0
774     48173.0
775     40275.0
776     57174.0
777     58679.0
778     39800.0
779     40267.0
780     68351.0
781     43012.0
782     74738.0
783     51081.0
784     39081.0
785     39760.0
786     56800.0
787     60342.0
788     37603.0
789     42877.0
790     74101.0
791     39982.0
792     68748.0
793     62575.0
794     39485.0
795     40285.0
796     51003.0
797     39224.0
798     57698.0
799     59621.0
800     40499.0
801     73819.0
802     42732.0
803     40123.0
804     39375.0
805     62996.0
806     69112.0
807     41212.0
808     39706.0
809     57823.0
810     40340.0
811     59095.0
812     43285.0
813     48011.0
814     40322.0
815     73749.0
816     41876.0
817     67540.0
818     61397.0
819     39311.0
820     57714.0
821     73804.0
822     67882.0
823         NaN
824     60342.0
825     74240.0
826     58141.0
827     68034.0
828     74738.0
829     63267.0
830     51179.0
831     68551.0
832     58817.0
833     41242.0
834     63255.0
835     51227.0
836     57714.0
837     73804.0
838     58817.0
839     41242.0
840     67882.0
841         NaN
842     63255.0
843     51227.0
844     74240.0
845     60342.0
846     68551.0
847     51179.0
848     58141.0
849     63267.0
850     68034.0
851     74738.0
Name: Attendance, dtype: float64

Next, let's try and figure out how many games the USA played in the 2014 world cup.

In [83]:
df[((df["Home Team Name"] == "USA") | (df["Away Team Name"] == "USA")) & (df.Year == 2014)].count()

Year                    5
Datetime                5
Stage                   5
Stadium                 5
City                    5
Home Team Name          5
Home Team Goals         5
Away Team Goals         5
Away Team Name          5
Win conditions          5
Attendance              5
Half-time Home Goals    5
Half-time Away Goals    5
Referee                 5
Assistant 1             5
Assistant 2             5
RoundID                 5
MatchID                 5
Home Team Initials      5
Away Team Initials      5
dtype: int64

Now, let's try to find out how many countries participated in the 1986 world cup.

Hint 1: as a first step, create a new data set that only contain games in that year.

Hint 2: You can use `.unique()` to make sure you don't end up with duplicate country names.

In [84]:
df1986 = df[df.Year == 1986]

In [92]:
df1986["Away Team Name"].append(df1986["Home Team Name"]).nunique()

24

In the world cup history, how matches had more than 5 goals in total?

In [101]:
df.head(0)

Empty DataFrame
Columns: [Year, Datetime, Stage, Stadium, City, Home Team Name, Home Team Goals, Away Team Goals, Away Team Name, Win conditions, Attendance, Half-time Home Goals, Half-time Away Goals, Referee, Assistant 1, Assistant 2, RoundID, MatchID, Home Team Initials, Away Team Initials, Total_Goals, Half-time Goals]
Index: []

[0 rows x 22 columns]

In [95]:
df["Total_Goals"] = df["Home Team Goals"] + df["Away Team Goals"]

In [97]:
df.Total_Goals[lambda count : count>5].count()

74

## Changing values and creating new columns

With the information you currently have in your `df`, create a new column "Half-time Goals".

In [2]:
df["Half-time Goals"] = df["Half-time Home Goals"]  + df["Half-time Away Goals"]

In [3]:
df[df["Half-time Goals"]!=0].loc[:,["Half-time Goals","Half-time Home Goals","Half-time Away Goals"]]

     Half-time Goals  Half-time Home Goals  Half-time Away Goals
0                  3                     3                     0
1                  2                     2                     0
2                  2                     2                     0
3                  1                     1                     0
5                  1                     1                     0
7                  2                     2                     0
10                 4                     3                     1
11                 1                     1                     0
12                 1                     1                     0
13                 4                     4                     0
14                 3                     2                     1
15                 1                     1                     0
16                 4                     3                     1
17                 3                     1                     2
19                 4                     2                     2
20                 3                     2                     1
21                 2                     1                     1
22                 3                     1                     2
23                 3                     3                     0
24                 3                     3                     0
25                 1                     0                     1
26                 2                     1                     1
29                 1                     1                     0
30                 1                     1                     0
31                 1                     1                     0
32                 1                     1                     0
33                 4                     3                     1
36                 4                     4                     0
37                 3                     2                     1
42                 1                     0                     1
..               ...                   ...                   ...
790                2                     0                     2
791                1                     0                     1
793                1                     1                     0
795                1                     0                     1
796                3                     0                     3
797                2                     1                     1
800                1                     1                     0
802                3                     0                     3
803                1                     0                     1
804                1                     0                     1
806                3                     1                     2
810                2                     1                     1
811                1                     1                     0
812                3                     1                     2
813                1                     1                     0
814                2                     0                     2
817                1                     1                     0
819                1                     0                     1
821                1                     1                     0
824                1                     1                     0
825                1                     0                     1
826                5                     0                     5
827                2                     0                     2
831                1                     1                     0
837                1                     1                     0
844                1                     0                     1
845                1                     1                     0
846                1                     1                     0
848                5                     0                     5
850                2                     0                     2

[544 rows x 3 columns]

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [4]:
df.loc[df["Home Team Name"].str.contains('Korea'), "Home Team Name" ]

179         Korea DPR
187         Korea DPR
374    Korea Republic
386    Korea Republic
434    Korea Republic
444    Korea Republic
480    Korea Republic
524    Korea Republic
593    Korea Republic
609    Korea Republic
635    Korea Republic
642    Korea Republic
655    Korea Republic
710    Korea Republic
753         Korea DPR
802    Korea Republic
818    Korea Republic
Name: Home Team Name, dtype: object

Imagine that for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [6]:
def to_korea(to_change):
    string = None
    try:
        string = str(to_change)
        if string.contains("Korea"):
            return "Korea"
    except Exception:
        return to_change

Make sure to verify your answer!

In [13]:
df["Home Team Name"][df["Home Team Name"].str.contains("Korea")].map(lambda a : "Korea")

179    Korea
187    Korea
374    Korea
386    Korea
434    Korea
444    Korea
480    Korea
524    Korea
593    Korea
609    Korea
635    Korea
642    Korea
655    Korea
710    Korea
753    Korea
802    Korea
818    Korea
Name: Home Team Name, dtype: object

In [16]:
df = df["Home Team Name"][df["Home Team Name"].str.contains("Korea")]

KeyError: 'Home Team Name'

In [9]:
df.apply(to_korea)[df['Home Team Name'].str.contains("Korea")]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Half-time Goals
179,1966,15 Jul 1966 - 19:30,Group 4,Ayresome Park,Middlesbrough,Korea DPR,1,1,Chile,,...,0,1,KANDIL Aly Hussein (EGY),CRAWFORD William (SCO),FINNEY Jim (ENG),238,1609,PRK,CHI,1
187,1966,19 Jul 1966 - 19:30,Group 4,Ayresome Park,Middlesbrough,Korea DPR,1,0,Italy,,...,1,0,SCHWINTE Pierre (FRA),ADAIR John (NIR),TAYLOR John (ENG),238,1679,PRK,ITA,1
374,1986,05 Jun 1986 - 16:00,Group A,Estadio Ol�mpico Universitario,Mexico City,Korea Republic,1,1,Bulgaria,,...,0,1,AL SHANAR Fallaj Khuzam (KSA),IGNA Ioan (ROU),BUTENKO Valeri (RUS),308,460,KOR,BUL,1
386,1986,10 Jun 1986 - 12:00,Group A,Cuauhtemoc,Puebla,Korea Republic,2,3,Italy,,...,0,1,SOCHA David (USA),URREA Joaquin (MEX),AL SHARIF Jamal (SYR),308,643,KOR,ITA,1
434,1990,17 Jun 1990 - 21:00,Group E,Dacia Arena,Udine,Korea Republic,1,3,Spain,,...,1,1,JACOME GUERRERO Elias V. (ECU),MAGNI Pierluigi (ITA),LOUSTAU Juan (ARG),322,175,KOR,ESP,2
444,1990,21 Jun 1990 - 17:00,Group E,Friuli,Udine,Korea Republic,0,1,Uruguay,,...,0,0,LANESE Tullio (ITA),DIRAMBA Jean Fidele (GAB),JOUINI Neji (TUN),322,290,KOR,URU,0
480,1994,23 Jun 1994 - 19:30,Group C,Foxboro Stadium,Boston,Korea Republic,0,0,Bolivia,,...,0,0,MOTTRAM Leslie (SCO),MATTHYS Luc (BEL),EVERSTIG Mikael (SWE),337,3065,KOR,BOL,0
524,1998,13 Jun 1998 - 17:30,Group E,Stade de Gerland,Lyon,Korea Republic,1,3,Mexico,,...,1,0,BENKO Gunter (AUT),FRED Lencie (VAN),SCHNEIDER Erich (GER),1014,8732,KOR,MEX,1
593,2002,04 Jun 2002 - 20:30,Group D,Busan Asiad Main Stadium,Busan,Korea Republic,2,0,Poland,,...,1,0,RUIZ Oscar (COL),DORIRI Elise (VAN),LINDBERG Leif (SWE),43950100,43950014,KOR,POL,1
609,2002,10 Jun 2002 - 15:30,Group D,Daegu World Cup Stadium,Daegu,Korea Republic,1,1,USA,,...,0,1,MEIER Urs (SUI),BEREUTER Egon (AUT),TOMUSANGE Ali (UGA),43950100,43950030,KOR,USA,1
635,2002,18 Jun 2002 - 20:30,Round of 16,Daejeon World Cup Stadium,Daejeon,Korea Republic,2,1,Italy,Win on Golden Goal,...,0,0,MORENO Byron (ECU),RATTALINO Jorge (ARG),SZEKELY Ferenc (HUN),43950200,43950056,KOR,ITA,0
642,2002,29 Jun 2002 - 20:00,Third place,Daegu World Cup Stadium,Daegu,Korea Republic,2,3,Turkey,,...,1,3,MANE Saad (KUW),ALTRAIFI Ali (KSA),VERGARA Hector (CAN),43950500,43950063,KOR,TUR,4
655,2006,13 Jun 2006 - 15:00,Group G,"FIFA World Cup Stadium, Frankfurt",Frankfurt/Main,Korea Republic,2,1,Togo,,...,0,1,POLL Graham (ENG),SHARP Philip (ENG),TURNER Glenn (ENG),97410100,97410014,KOR,TOG,1
710,2010,12 Jun 2010 - 13:30,Group B,Port Elizabeth Stadium,Nelson Mandela Bay/Port Elizabeth,Korea Republic,2,0,Greece,,...,1,0,HESTER Michael (NZL),HINTZ Jan Hendrik (NZL),MAKASINI Tevita (TGA),249722,300061459,KOR,GRE,1
753,2010,25 Jun 2010 - 16:00,Group G,Mbombela Stadium,Nelspruit,Korea DPR,0,3,C�te d'Ivoire,,...,0,2,Alberto UNDIANO MALLENCO (ESP),MARTINEZ Fermin (ESP),YUSTE Juan (ESP),249722,300061486,PRK,CIV,2
802,2014,22 Jun 2014 - 16:00,Group H,Estadio Beira-Rio,Porto Alegre,Korea Republic,2,4,Algeria,,...,0,3,ROLDAN Wilmar (COL),DIAZ Eduardo (COL),LESCANO Christian (ECU),255931,300186495,KOR,ALG,3
818,2014,26 Jun 2014 - 17:00,Group H,Arena de Sao Paulo,Sao Paulo,Korea Republic,0,1,Belgium,,...,0,0,Ben WILLIAMS (AUS),CREAM Matthew (AUS),ANAZ Hakan (AUS),255931,300186480,KOR,BEL,0

## Summary

In this lab, you learned how to access data within Pandas!